:root {
            --primary-color: rgb(117, 117, 117);
            --secondary-color: rgb(200, 183, 147);
	    --trinary-color: rgb(81, 0, 0);
	    --quaternary-color: rgb(30, 30, 23);
	    --bright-yellow: rgb(246, 244, 217);
	    --dark-red:rgb(121, 37, 37);
	    --bright-gray: rgb(175, 170, 159);
	    --off-white: rgb(220, 214, 201);
        }
@media only screen and (min-width: 1200px) {
	.centerbox {
		width: 50%;
	}
	.footer{
		width: 55%;
	}
	
}
body
{
	background-color: var(--primary-color);
	font-family: Times, "Times New Roman", Georgia, serif;
	font-size: 12px;
	background-image: url("bg.jpg");
	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
}

h1 { color: var(--quaternary-color); font-family: 'Helvetica Neue', sans-serif; font-size: 46px; font-weight: 100; line-height: 50px; letter-spacing: 1px; padding: 0 0 40px; border-bottom: double #555; margin: 10px; padding: 10px;}


p { color: var(--quaternary-color); font-family: 'Verdana', sans-serif; font-size: 12px; line-height: 26px; text-indent: 30px; margin: 0;}


a { color: var(--dark-red); border-bottom: 1px solid var(--dark-red); text-decoration: none; }


a:hover { color: var(--trinary-color); border-bottom: 1px solid var(--trinary-color); }

textarea
{
	resize:none;
}

.number
{
	width: 50px;	
}

.header
{
	margin: auto;
	text-align: center;
}

.centerbox
{
	background-color: var(--secondary-color);
	background-image:url(stone.jpg);
	padding: 2.5%;
	margin: auto;
	display: flex;
  	flex-direction: column;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-color: var(--dark-red);
}

.description
{
	background-color: var(--off-white);
	padding: 5px;
	text-align: center;
}

.tool
{
	margin: 0px 20% 0px 20%;
}

.footer
{
	height: 5%;
	background-color: var(--secondary-color);
	background-image:url(stone.jpg);
	text-align: center;
	margin: auto;
	display: flex;
  	flex-direction: column;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-color: var(--dark-red);
}

.charactertool
{
	background-color: var(--bright-gray);
	background-image: url("paper.jpg");
	padding: 2.5%;
	margin: auto;
	text-align: center;
}

.toolsection
{
	margin: auto;
	padding: 5px;
}

.instruction
{
	padding: 5px;
	font-size: 12px;
	text-align: left;
}

#characterform
{
	margin: auto;
}

#featsection
{
	background-color: var(--bright-gray);
	line-height: 0.8;
	width: 50%;
	
}

#skillsection
{
	background-color: var(--bright-gray);
	line-height: 0.8;
	width: 50%;
	
}